<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="csvDataImport" type="fifi.Data.Configuration.Import.ConfigurationSectionHandler, fifi.Data"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <csvDataImport>
    <fields>
      <add index="1" category="Position" type="Scalar">
        <values>
          <add name="Torwart" value="1" />
          <add name="Abwehr" value="2" />
          <add name="Mittelfeld" value="3" />
          <add name="Angriff" value="4" />
        </values>
      </add>
      <add index="2" category="Games" type="Numeric" minValue="0" maxValue="34" />
      <add index="4" category="Goals pr. game" type="Numeric" minValue="0" maxValue="1" weight="10"/>
    </fields>
  </csvDataImport>
</configuration>