<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="csvDataImport" type="fifi.Data.Configuration.Import.ConfigurationSectionHandler, fifi.Data"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <csvDataImport>
    <fields>
      <add index="0" category="Birth day" type="Numeric" minValue="1900" maxValue="2020" />
      <add index="1" category="Gender" type="Scalar">
        <values>
          <add name="Male" value="1" />
          <add name="Female" value="0" />
        </values>
      </add>
      <add index="2" category="Education" type="Numeric" minValue="0" maxValue="100" />
      <add index="3" category="Work" type="Numeric" minValue="0" maxValue="100" />
      <add index="4" category="Reading habits" type="Numeric" minValue="0" maxValue="100" />
      <add index="5" category="Book genres" type="Numeric" minValue="0" maxValue="100" />
      <add index="6" category="Film genres" type="Numeric" minValue="0" maxValue="100" />
      <add index="7" category="Dependents" type="Numeric" minValue="0" maxValue="100" />
      <add index="8" category="Relationship status" type="Numeric" minValue="0" maxValue="100" />
      <add index="9" category="Housing type" type="Numeric" minValue="0" maxValue="100" />
      <add index="10" category="Gadgets" type="Numeric" minValue="0" maxValue="100" />
      <add index="11" category="Children" type="Numeric" minValue="0" maxValue="100" />
      <add index="12" category="Household control" type="Numeric" minValue="0" maxValue="100" />
      <add index="13" category="Salary" type="Numeric" minValue="0" maxValue="100" />
      <add index="14" category="Last purchase" type="Numeric" minValue="0" maxValue="100" />
      <add index="15" category="Purchase decision" type="Numeric" minValue="0" maxValue="100" />
    </fields>
  </csvDataImport>
</configuration>