<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="csvDataImport" type="fifi.Data.Configuration.Import.ConfigurationSectionHandler, fifi.Data"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <csvDataImport>
    <fields>
      <add index="1" category="Gender" type="BinaryValue">
        <values>
          <add name="Male" value="1" />
          <add name="Female" value="0" />
        </values>
      </add>
      <add index="2" category="Employment status" type="MultipleBinaryFields">
        <values>
          <add name="Full time" />
          <add name="Part time" />
          <add name="Unemployed" />
          <add name="Studying" />
          <add name="Studying with a study job" />
          <add name="Retired" />
        </values>
      </add>
      <add index="3" category="Reading habits" type="MultipleChoiceMultipleBinaryFields">
        <values>
          <add name="Books" />
          <add name="Magazines" />
          <add name="Newspapers" />
          <add name="Specialist books" />
          <add name="eBooks" />
        </values>
      </add>
      <add index="4" category="Book genres" type="MultipleChoiceMultipleBinaryFields">
        <values>
          <add name="Novels" />
          <add name="Thrillers" />
          <add name="Comedies" />
          <add name="Biographies" />
          <add name="Comics" />
          <add name="Scientific articles" />
        </values>
      </add>
      <add index="5" category="Film genres" type="MultipleChoiceMultipleBinaryFields">
        <values>
          <add name="Crime and gangster" />
          <add name="Comedies" />
          <add name="Dramas" />
          <add name="Sport" />
          <add name="Thrillers" />
          <add name="Documentaries" />
          <add name="Romantic films" />
          <add name="Art film" />
        </values>
      </add>
      <add index="6" category="Relationship status" type="MultipleBinaryFields">
        <values>
          <add name="Single" />
          <add name="Married" />
          <add name="In a relationsship, but unmarried" />
          <add name="It's complicated" />
          <add name="Divorced" />
        </values>
      </add>
      <add index="7" category="Household Size" type="MultipleBinaryFields">
        <values>
          <add name="I live alone" />
          <add name="Two" />
          <add name="Three" />
          <add name="Four or more" />
        </values>
      </add>
      <add index="8" category="Gadgets" type="MultipleChoiceMultipleBinaryFields">
        <values>
          <add name="A smartphone" />
          <add name="A tablet" />
          <add name="An MP3-player" />
          <add name="A PC, Mac or Laptop" />
          <add name="Thrillers" />
          <add name="Documentaries" />
          <add name="Romantic films" />
          <add name="Art film" />
          <add name="An eBook-reader" />
        </values>
      </add>
      <add index="10" category="Number of children" type="MultipleBinaryFields">
        <values>
          <add name="None" />
          <add name="One" />
          <add name="Two" />
          <add name="Three" />
          <add name="Four or more" />
        </values>
      </add>
      <add index="11" category="Housing type" type="MultipleBinaryFields">
        <values>
          <add name="In a mansion or larger home" />
          <add name="In a house" />
          <add name="In an apartment" />
          <add name="In a shared apartment" />
          <add name="On a boat" />
          <add name="Homeless" />
        </values>
      </add>
      <add index="12" category="Household Control" type="BinaryValue">
        <values>
          <add name="Yes" value="1" />
          <add name="No" value="0" />
          <add name="Partially" value="0.5" />
        </values>
      </add>
      <add index="13" category="Salary" type="BinaryValue">
        <values>
          <add name="Less than 750 €" value="0.1429" />
          <add name="750 -1000 €" value="0.2858" />
          <add name="1000 - 1500 €" value="0.4287" />
          <add name="1500 - 2000 €" value="0.5716" />
          <add name="2000 - 3000 €" value="0.7145" />
          <add name="3000 - 4000 €" value="0.8574" />
          <add name="More than 4000 €" value="1" />
          <add name="" value="0" />
        </values>
      </add>
    </fields>
  </csvDataImport>
</configuration>